<html>
  <head>
    <title>Olga's Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Django girls blog</a></h1>
    </div>
    <div>
      <p>published: 05.03.2016, 12:45</p>
      <h2><a href="">My first post</a></h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
    <div>
      <p>published: 05.03.2016, 12:45</p>
      <h2><a href="">My first post</a></h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
  </body>
</html>
